body {
  font-family: arial;
  background-color: #ebf9fa;
  color: grey;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

select {
  font-size: 1.2em;
}

.container,
.makeup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.makeup-box,
.products-box {
  color: grey;
  background-color: white;
  width: 75%;
}

.product {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.product-name {
  font-size: 1.5em;
}

.selector {
  margin: 30px;
}

.image-box {
  color: white;
  position: relative;
  z-index: 0;
}

.brand-name {
  padding-top: 20px;
  font-size: 4em;
  color: #000;
  position: absolute;
  z-index: 1;
}
